@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";


.header_area .main-menu .navbar {
    position: fixed;
    width: 100%;
    background: #ffffffc7;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    z-index: 999;
    transition: 1s ease;
}

#navbarNav {
    padding-right: 5%;
}

.header_area .main-menu .nav-item .nav-link {
    text-transform: uppercase;
    padding: 1.7rem;
    color: $title-color;
    font-size: 1.4rem;
    margin-right: 5%;
}

.header_area .main-menu .navbar-nav .active > a { 
    color: $primary-color;
}

.header_area .main-menu .navbar-nav a:hover {
    color: $primary-color;
}

.banner-image > img {
    padding-left: 2rem;
    padding-right: 0;
    width: 90rem;
}

.contact-section {
    padding: 60px 0;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.section-subtitle {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    background-color: #b07002;
    color: white;
    font-size: 1.3rem;
}

.btn-custom:hover {
    background-color: #865500;
    cursor: pointer;
}

.form-control {
    height: 40px; 
    font-size: 1.3rem; 
    padding: 10px;
}

#message {
    height: 100px; 
}